<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Matcha</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

    <!-- Hero Section (Welcome Message) -->
  <div class="hero">
    <h1>Welcome to Matcha!</h1>
    <p>Your community for matcha lovers.</p>
    <% if user_signed_in? %>
      <p>Welcome back, <%= current_user.username %>!</p>
    <% else %>
      <p>Sign up or log in to explore more!</p>
    <% end %>
  </div>
  
</body>
</html>
